# Environments & Virtual Environments
.env
.env.*
.venv/
venv/
env/
ENV/

# Python TEST
__pycache__/
*.py[cod]
*$py.class
*.egg
*.egg-info/
build/
dist/

# Node
node_modules/
node_modules

# Secrets & Keys
service_account.json
credentials.json
client_secret.json
*.pem
*.key

# Editor & OS
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Logs
*.log
